.item {
    width: 70%;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
}

.item img {
    height: 300px;
    border-radius: 50px;
}

.item h3{
    text-align: center;
}
