
nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1ff3f3;
}

.logo {
    margin: 20px;
    height: 90%; 
}

img {
    height: 100%;
}

.navTitle {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
}

.navItems  a {
    color: #000000;
    font-size: 16px;
    font-weight: 550;
    text-decoration: none;
    margin: 15px;
}